#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 solod 1px;
}

#showcase {
    height: 100%;
}
#showase .showcase-content {
    padding-top: 40px;
    padding-bottom: 30px;
}

#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

.box {
    float: none;
    width: 100%;
}
#about-info .info-right{
    margin-top: 30px;
}

#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}
#about-info .info-right img{
    border-radius: 49%;
}
.l-heading{
    text-align: center;
}

#contact-info .box {
    border-bottom: #444 solid 1px;
}